<%- include layouts/admin_header.ejs %>

<div class="proveedor" style="margin-left: 65%">
    <h3 class="pageheader">Proveedor:</h3>
    <h3 class="pageheader"><%=name_provider%></h3> 
</div>
<div class="especificaciones">
<ul class="list-group" style="display:flex">
    
      <li class="list-group-item" style=" background-color: rgb(240, 240, 240);">
        <div style="margin: 0 0">
            <h3 style="margin: 10px 0">Codigo del producto</h3>
        </div>
      </li>
      <li class="list-group-item" style=" background-color: rgb(240, 240, 240);">
       <div style="margin: 0 0">
            <h3 style="margin: 10px 0">Nombre del producto</h3>
        </div>
      </li>
      <li class="list-group-item" style="background-color: rgb(240, 240, 240)">
         <div style="margin: 0 0">
            <h3 style="margin: 10px 0">Cantidad</h3>
        </div>
      </li>
      
</ul>
</div>
<div class="input_product">
        <label>Ingrese Producto:</label>

        <form method="get" action="/new_product">
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1"></span>
		  <input name="NombreProduct" type="text" class="form-control" placeholder="Nombre(Tags)" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1"></span>
		  <input name="CantidadProduct" type="text" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1">
		</div>

        <button type="submit" class="btn btn-success dropdown-toggle" style="margin-top: 15px;
        position: absolute; right: 100px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registrar
        </button>
        </form>
</div>

<%- include layouts/footer.ejs %>