<%- include layouts/admin_header.ejs %>
<link rel="stylesheet" type="text/css" href="/assets/css/style_providers.css">
<h1 class="page-header">Proveedores:</h1>


<div class="new_provider">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2"></span>
      <input id="Rut" type="number" class="form-control" placeholder="Rut de la Empresa" aria-describedby="sizing-addon2">
    </div>
    
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2"></span>
      <input id="Nombre" type="text" class="form-control" placeholder="Nombre del Proveedor" aria-describedby="sizing-addon2">
    </div>
    
    <button id="add_provider" class='btn btn-default' type="button" ><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>
</div>


<div class="col-md-10">

<ul>
  <li id="plus_provider" class="list-group-item">
    <span class="glyphicon glyphicon-plus"></span>
    <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
  </li>
</ul>

<div id="container_provider">
  
</div>
</div>


<script type="text/javascript">
    $.ajax({
      type: 'GET',
      url: '/render_provider',
      success: function(data){
              $('#container_provider').html(data);
      }
    });



    $(document).on('click','#plus_provider', function(e){
      e.preventDefault();
      //transform: translateY(700px);
      $('.new_provider').css('transform', 'translateY(700px)');
      $('#Rut').focus();
    });
    $(document).on('click', '#add_provider', function(e){
      e.preventDefault();
      var rut = $("#Rut").val();
      var nombre = $("#Nombre").val();
      if(nombre != '' || rut != ''){
       $.ajax({
          type: 'POST',
            data: {'nombre': nombre,'rut': rut},
            url: '/save_provider',
            success: function(data){   
                      $('#container_provider').html(data);
                  }
          });
        }
      $('.new_provider').css('transform', 'translateY(-500px)');
      $('#Nombre').val('');
      $('#Rut').val('');
    });

</script>

<%- include layouts/footer.ejs %>